<a href="https://colab.research.google.com/github/konkuk-gaegul/First_project/blob/main/data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 소숫점 둘 째 자리까지 표시
pd.options.display.float_format = '{:.2f}'.format

# [1] 재무상태표 전처리

## (a) 유동자산 유동부채 부채총계 자본총계

In [ ]:
rawData1 = pd.read_csv('/content/drive/MyDrive/data/SKhynix_data/df1.csv', index_col = 0)
rawData1 = rawData1.drop( ['Unnamed: 1'], axis=1)
rawData1 = rawData1.T
rawData1['유형'] = rawData1['[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)'].iloc[:,[0]]
rawData1 = rawData1.drop('[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)', axis=1)
rawData1 = rawData1[ ['유형', '20201231', '20191231', '20181231', '20171231', '20161231', '20151231',
       '20141231', '20131231', '20121231', '20111231', '20101231', '20091231', '20081231'] ]
rawData1 = rawData1.drop(columns = '20091231')
rawData1 = rawData1.drop(columns = '20081231')

rD1 = rawData1[(rawData1['유형'] == '유동자산') | (rawData1['유형'] == '유동부채') | (rawData1['유형'] == '부채총계') | (rawData1['유형'] == '자본총계')]

financial_statement = rD1.rename(columns = {'유형' : '기준 년/월'}) # 유형 컬럼을 기준 년/월로 수정
financial_statement = financial_statement.set_index('기준 년/월')                   # 기준 년/월을 인덱스로 설정
financial_statement = financial_statement.reindex( columns = ['20101231', '20111231', '20121231', '20131231', '20141231', '20151231', '20161231', 
                            '20171231', '20181231', '20191231', '20201231'] ) # 컬럼을 오름차순으로 재정렬
financial_statement.columns = ('2010/12', '2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12', 
                  '2017/12', '2018/12', '2019/12', '2020/12') # 컬럼명을 년도/월 형식으로 변경
financial_statement = financial_statement.T # Transpose
financial_statement

기준 년/월               유동자산              유동부채              부채총계              자본총계
2010/12   5416086000000.0   5349559000000.0   9504541000000.0   7907576000000.0
2011/12   4936850000000.0   4817286000000.0   9362877000000.0   7875271000000.0
2012/12   5313573000000.0   4441180000000.0   8909251000000.0   9739442000000.0
2013/12   6653124000000.0   3078239000000.0   7730439000000.0  13066859000000.0
2014/12  10363514000000.0   5765304000000.0   8846975000000.0  18036303000000.0
2015/12   9760030000000.0   4840698000000.0   8290203000000.0  21387703000000.0
2016/12   9838982000000.0   4160849000000.0   8192496000000.0  24023530000000.0
2017/12  17310444000000.0   8116133000000.0  11597545000000.0  33820919000000.0
2018/12  19894146000000.0  13031852000000.0  16806004000000.0  46852331000000.0
2019/12  14457602000000.0   7961966000000.0  17312468000000.0  47935882000000.0
2020/12  16570953000000.0   9072360000000.0  19264756000000.0  51909097000000.0

## (b) 매출채권, 재고자산, 매입채무, 유형자산, 무형자산

In [ ]:
rD11 = rawData1[(rawData1['유형'] == '매출채권') | (rawData1['유형'] == '재고자산') | (rawData1['유형'] == '매입채무') | (rawData1['유형'] == '유형자산') | (rawData1['유형'] == '무형자산')]

financial_statement2 = rD11.rename(columns = {'유형' : '기준 년/월'}) # 유형 컬럼을 기준 년/월로 수정
financial_statement2 = financial_statement2.set_index('기준 년/월')                   # 기준 년/월을 인덱스로 설정
financial_statement2 = financial_statement2.reindex( columns = ['20101231', '20111231', '20121231', '20131231', '20141231', '20151231', '20161231', 
                            '20171231', '20181231', '20191231', '20201231'] ) # 컬럼을 오름차순으로 재정렬
financial_statement2.columns = ('2010/12', '2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12', 
                  '2017/12', '2018/12', '2019/12', '2020/12') # 컬럼명을 년도/월 형식으로 변경
financial_statement2 = financial_statement2.T # Transpose
financial_statement2

기준 년/월              매출채권             재고자산  ...             무형자산             매입채무
2010/12  1604952000000.0  1281519000000.0  ...   603653000000.0   875174000000.0
2011/12  1540925000000.0  1183608000000.0  ...   707648000000.0   678408000000.0
2012/12  1719521000000.0  1509331000000.0  ...   983630000000.0   592738000000.0
2013/12  1941675000000.0  1178300000000.0  ...  1110403000000.0   648793000000.0
2014/12  3732926000000.0  1497563000000.0  ...  1336680000000.0   787822000000.0
2015/12  2628448000000.0  1923376000000.0  ...  1704896000000.0   791373000000.0
2016/12  3251652000000.0  2026198000000.0  ...  1915591000000.0   696144000000.0
2017/12  5552795000000.0  2640439000000.0  ...  2247290000000.0   758578000000.0
2018/12  6319994000000.0  4422733000000.0  ...  2678770000000.0  1096380000000.0
2019/12  4261674000000.0  5295835000000.0  ...  2571049000000.0  1042542000000.0
2020/12  4931322000000.0  6136318000000.0  ...  3400278000000.0  1046159000000.0

[11 rows x 5 columns]

## (c) 재무상태표 폴더에 저장

In [ ]:
pd.DataFrame( financial_statement ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_재무상태표/financial_statement.csv')
pd.DataFrame( rawData1 ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_재무상태표/rawData1.csv')
pd.DataFrame( financial_statement2 ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_재무상태표/financial_statement2.csv')

# [2] 손익계산서 전처리

## (a) 당기순이익, 영업이익, 법인세비용, 매출액

In [ ]:
rawData2 = pd.read_csv('/content/drive/MyDrive/data/SKhynix_data/df3.csv', index_col = 0)
rawData2.drop( ['Unnamed: 1'], axis=1, inplace=True)
rawData2 = rawData2.T
rawData2['유형'] = rawData2['[D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW)'].iloc[:,[0]]
rawData2 = rawData2.drop('[D431410] Statement of comprehensive income, by function of expense - Consolidated financial statements (Unit: KRW)', axis=1)
rawData2 = rawData2[ ['유형', '20100101-20101231', '20110101-20111231', '20120101-20121231', 
                      '20130101-20131231', '20140101-20141231', '20150101-20151231', '20160101-20161231', 
                      '20170101-20171231', '20180101-20181231', '20190101-20191231', '20200101-20201231'] ]

rD2 = rawData2[(rawData2['유형'] == '당기순이익') | (rawData2['유형'] == '영업이익') | (rawData2['유형'] == '법인세비용') | (rawData2['유형'] == '매출액')]
income_statement = rD2.rename(columns = {'유형' : '기준 년/월'}) # 유형 컬럼을 기준 년/월로 수정
income_statement = income_statement.set_index('기준 년/월')                   # 기준 년/월을 인덱스로 설정
income_statement.columns = ('2010/12', '2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12', 
                  '2017/12', '2018/12', '2019/12', '2020/12')    # 컬럼명을 년도/월 형식으로 변경
income_statement = income_statement.T   # Transpose
income_statement

기준 년/월                매출액              영업이익            법인세비용             당기순이익
2010/12  12106090000000.0   2965983000000.0    68807000000.0   2597575000000.0
2011/12  10395811000000.0    369095000000.0   101118000000.0    -55971000000.0
2012/12  10162210000000.0   -227349000000.0   -40506000000.0   -158795000000.0
2013/12  14165102000000.0   3379785000000.0   202068000000.0   2872857000000.0
2014/12  17125566000000.0   5109466000000.0   852501000000.0   4195169000000.0
2015/12  18797998000000.0   5336100000000.0   945526000000.0   4323595000000.0
2016/12  17197975000000.0   3276746000000.0   255971000000.0   2960483000000.0
2017/12  30109434000000.0  13721326000000.0  2797347000000.0  10642219000000.0
2018/12  40445066000000.0  20843750000000.0  5801046000000.0  15539984000000.0
2019/12  26990733000000.0   2719179000000.0   423561000000.0   2009078000000.0
2020/12  31900418000000.0   5012624000000.0  1478123000000.0   4758914000000.0

## (b) 손익계산서 폴더에 저장

In [ ]:
pd.DataFrame( rawData2 ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_손익계산서/rawData2.csv')
pd.DataFrame( income_statement ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_손익계산서/income_statement.csv')

# [3] 현금흐름표 전처리

In [ ]:
rawData3 = pd.read_csv('/content/drive/MyDrive/data/SKhynix_data/df4.csv', index_col = 0)
rawData3.drop( ['Unnamed: 1'], axis=1, inplace=True)
rawData3 = rawData3.T
rawData3['유형'] = rawData3['[D520000] Statement of cash flows, indirect method - Consolidated financial statements (Unit: KRW)'].iloc[:,[0]]
rawData3 = rawData3.drop('[D520000] Statement of cash flows, indirect method - Consolidated financial statements (Unit: KRW)', axis=1)
rawData3 = rawData3[ ['유형', '20100101-20101231', '20110101-20111231', '20120101-20121231', 
                       '20130101-20131231', '20140101-20141231', '20150101-20151231', '20160101-20161231', 
                       '20170101-20171231', '20180101-20181231', '20190101-20191231', '20200101-20201231'] ]

rawData3

In [ ]:
pd.DataFrame( rawData3 ).to_csv('/content/drive/MyDrive/data/SKhynix_data/1_현금흐름표/rawData3.csv')

In [ ]:
# financial_statement / financial_statement2 / income_statement 
# 전부 합치고 저장
data = financial_statement.join(financial_statement2)
data = data.join(income_statement)
data

# 모든 parameter가 존재하는 data 저장
pd.DataFrame( data ).to_csv('/content/drive/MyDrive/data/SKhynix_data/most_important_data.csv')
# data 불러오기
data = pd.read_csv('/content/drive/MyDrive/data/SKhynix_data/most_important_data.csv', index_col = 0)

# ㅇ-----------------------ㅇ

# [4] 안정성 지표
(a) 유동비율 & 부채비율

In [ ]:
# 유동비율과 부채비율에 필요한 financial_statement 불러오기
financial_statement = pd.read_csv('/content/drive/MyDrive/data/SKhynix_data/1_재무상태표/financial_statement.csv', index_col = 0)
financial_statement

                     유동자산              유동부채              부채총계              자본총계
2010/12  5416086000000.00  5349559000000.00  9504541000000.00  7907576000000.00
2011/12  4936850000000.00  4817286000000.00  9362877000000.00  7875271000000.00
2012/12  5313573000000.00  4441180000000.00  8909251000000.00  9739442000000.00
2013/12  6653124000000.00  3078239000000.00  7730439000000.00 13066859000000.00
2014/12 10363514000000.00  5765304000000.00  8846975000000.00 18036303000000.00
2015/12  9760030000000.00  4840698000000.00  8290203000000.00 21387703000000.00
2016/12  9838982000000.00  4160849000000.00  8192496000000.00 24023530000000.00
2017/12 17310444000000.00  8116133000000.00 11597545000000.00 33820919000000.00
2018/12 19894146000000.00 13031852000000.00 16806004000000.00 46852331000000.00
2019/12 14457602000000.00  7961966000000.00 17312468000000.00 47935882000000.00
2020/12 16570953000000.00  9072360000000.00 19264756000000.00 51909097000000.00

In [ ]:
current_ratio = []
debt_ratio = []

for i in range(len(financial_statement['유동자산'])):
  current_ratio.append( ((float(financial_statement['유동자산'][i])) / float(financial_statement['유동부채'][i]))*100 )

for j in range(len(financial_statement['부채총계'])):
  debt_ratio.append( ((float(financial_statement['부채총계'][j])) / float(financial_statement['자본총계'][j]))*100 )

dicts = { '유동비율(%)':current_ratio, '부채비율(%)':debt_ratio}
stable_ind = pd.DataFrame(dicts)
stable_ind.set_index(financial_statement.index, inplace=True)

stable_ind.drop(index= stable_ind.index[0] , inplace=True)
pd.DataFrame( stable_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_안정성 지표/stable_ind.csv')

stable_ind

         유동비율(%)  부채비율(%)
2011/12   102.48   118.89
2012/12   119.64    91.48
2013/12   216.13    59.16
2014/12   179.76    49.05
2015/12   201.62    38.76
2016/12   236.47    34.10
2017/12   213.28    34.29
2018/12   152.66    35.87
2019/12   181.58    36.12
2020/12   182.65    37.11

In [ ]:
# 안정성지표의 유동비율과 부채비율 저장
pd.DataFrame( stable_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_안정성 지표/stable_ind.csv')

# [5] 수익성 지표

In [ ]:
# ROE / ROIC / 영업이익률 계산

ROE = []
ROIC = []
Profit = []

for i in range(11):

  ROE.append( (float(data['당기순이익'][i]) / float(data['자본총계'][i]) *100 ))

for j in range(11):

  ROIC.append( (( float(data['영업이익'][j]) - float(data['법인세비용'][j]) ) / ((float(data['매출채권'][j])+float(data['재고자산'][j])-float(data['매입채무'][j])) +float(data['유형자산'][j])+float(data['무형자산'][j])))*100 )

for k in range(11):

  Profit.append( (float(data['영업이익'][k]) / float(data['매출액'][k]) *100 ))

dicts = { 'ROE(%)': ROE, 'ROIC(%)': ROIC, '영업이익률(%)': Profit}
Profit_ind = pd.DataFrame(dicts)
Profit_ind.set_index(data.index, inplace=True)

Profit_ind.drop(index= Profit_ind.index[0] , inplace=True)
pd.DataFrame( Profit_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_수익성 지표/Profit_indicator.csv')

Profit_ind

         ROE(%)  ROIC(%)  영업이익률(%)
2011/12   -0.71     1.96      3.55
2012/12   -1.63    -1.23     -2.24
2013/12   21.99    20.23     23.86
2014/12   23.26    21.42     29.84
2015/12   20.22    19.57     28.39
2016/12   12.32    11.95     19.05
2017/12   31.47    32.37     45.57
2018/12   33.17    31.82     51.54
2019/12    4.19     4.50     10.07
2020/12    9.17     6.47     15.71

In [ ]:
# 수익성 지표의 ROE / ROIC / 영업이익률 저장
pd.DataFrame( Profit_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_수익성 지표/Profit_indicator.csv')

In [ ]:
# ratio_stab = pd.Series( A, index = cur_debt.index )
# ratio_stab = ratio_stab.to_frame()
# ratio_stab.columns = ['유동비율(%)']
# ratio_stab['부채비율(%)'] = B
# ratio_stab.round(2)
# ratio_stab

# [6] 성장성 지표

In [ ]:
# 매출액 증가율 자기자본 증가율 계산
# [당기 - 전기]이기 때문에 보정을 위해 
# 2010년 row에 0을 넣어준다.

inc1 = [0] # 매출액 증가율
inc2 = [0] # 자기자본 증가율

for i in range(10):
  inc1.append( ((float(data['매출액'][i+1]) / float(data['매출액'][i]))*100) - 100 )

for j in range(10):
  inc2.append( ((float(data['자본총계'][j+1]) / float(data['자본총계'][j]))*100) - 100 )

dicts = { '매출액 증가율(%)': inc1, '자기자본 증가율(%)': inc2 }
increase_ind = pd.DataFrame(dicts)
increase_ind.set_index(data.index, inplace=True)

increase_ind.drop(index= increase_ind.index[0] , inplace=True)

increase_ind

pd.DataFrame( increase_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_성장성 지표/increase_indicator.csv')

In [ ]:
increase_ind

         매출액 증가율(%)  자기자본 증가율(%)
2011/12      -14.13        -0.41
2012/12       -2.25        23.67
2013/12       39.39        34.16
2014/12       20.90        38.03
2015/12        9.77        18.58
2016/12       -8.51        12.32
2017/12       75.08        40.78
2018/12       34.33        38.53
2019/12      -33.27         2.31
2020/12       18.19         8.29

In [ ]:
pd.DataFrame( increase_ind ).to_csv('/content/drive/MyDrive/data/SKhynix_data/2_성장성 지표/increase_indicator.csv')